In [1]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

In [2]:
print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

In [5]:
# Replace # with $ and store in updated_medical_data
updated_medical_data = medical_data.replace("#", "$")
print("\nUpdated Medical Data:\n", updated_medical_data)

Updated Medical Data:
 Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [6]:
# Task 3: Initialize num_records to count medical records
num_records = 0

In [7]:
# Task 4: Count records by iterating over updated_medical_data and checking for $
for character in updated_medical_data:
    if character == "$":
        num_records += 1

In [8]:
# Print num_records to verify
print(f"\nNumber of medical records: {num_records}")

Number of medical records: 10

In [11]:
# Split updated_medical_data into a list of records
medical_data_split = updated_medical_data.split(";")
print("\nMedical Data Split:\n", medical_data_split)

Medical Data Split:
 ['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

In [13]:
# Define an empty list for medical_records
medical_records = []

In [14]:
# Split each record by comma and append to medical_records
for record in medical_data_split:
    medical_records.append(record.split(','))
print("\nMedical Records:\n", medical_records)

Medical Records:
 [['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

In [15]:
# Define an empty list for cleaned medical records
medical_records_clean = []

In [17]:
for record in medical_records:
    record_clean = []
    for item in record:
        record_clean.append(item.strip())
    medical_records_clean.append(record_clean)

In [18]:
# Print medical_records_clean to verify
print("\nMedical Records Clean:\n", medical_records_clean)

Medical Records Clean:
 [['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

In [21]:
# Print names of individuals
print("\nNames of Individuals:")
for record in medical_records_clean:
    record[0] = record[0].upper()
    print(record[0])

Names of Individuals:
MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

In [23]:
# Task 16: Create empty lists for names, ages, BMIs, and insurance costs
names = []
ages = []
bmis = []
insurance_costs = []

In [24]:
# Task 17: Populate lists from medical_records_clean
for record in medical_records_clean:
    names.append(record[0])
    ages.append(record[1])
    bmis.append(record[2])
    insurance_costs.append(record[3])

In [25]:
# Task 18: Print the lists to verify
print("\nNames:\n", names)
print("\nAges:\n", ages)
print("\nBMIs:\n", bmis)
print("\nInsurance Costs:\n", insurance_costs)

Names:
 ['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']

Ages:
 ['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']

BMIs:
 ['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']

Insurance Costs:
 ['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

In [26]:
# Task 19: Initialize total_bmi
total_bmi = 0

In [27]:
# Task 20: Sum BMIs, converting to float
for bmi in bmis:
    total_bmi += float(bmi)

In [28]:
# Task 21: Calculate and print average BMI
average_bmi = total_bmi / len(bmis)
print(f"\nAverage BMI: {average_bmi}")

Average BMI: 25.830000000000002

In [29]:
# Task 22 (Extra): Calculate average insurance cost
total_cost = 0
for cost in insurance_costs:
    # Remove $ and convert to float
    total_cost += float(cost.replace("$", ""))
average_cost = total_cost / len(insurance_costs)
print(f"\nAverage Insurance Cost: ${average_cost}")

Average Insurance Cost: $8390.7

In [30]:
# Task 22 (Extra): Print formatted strings for each individual
print("\nIndividual Records:")
for i in range(len(names)):
    print(f"{names[i]} is {ages[i]} years old with a BMI of {bmis[i]} and an insurance cost of {insurance_costs[i]}.")

Individual Records:
MARINA ALLISON is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0.
MARKUS VALDEZ is 30 years old with a BMI of 22.4 and an insurance cost of $4050.0.
CONNIE BALLARD is 43 years old with a BMI of 25.3 and an insurance cost of $12060.0.
DARNELL WEBER is 35 years old with a BMI of 20.6 and an insurance cost of $7500.0.
SYLVIE CHARLES is 22 years old with a BMI of 22.1 and an insurance cost of $3022.0.
VINAY PADILLA is 24 years old with a BMI of 26.9 and an insurance cost of $4620.0.
MEREDITH SANTIAGO is 51 years old with a BMI of 29.3 and an insurance cost of $16330.0.
ANDRE MCCARTY is 19 years old with a BMI of 22.7 and an insurance cost of $2900.0.
LORENA HODSON is 65 years old with a BMI of 33.1 and an insurance cost of $19370.0.
ISAAC VU is 34 years old with a BMI of 24.8 and an insurance cost of $7045.0.